/* line-graph stuff */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    clip-path: url(#clip);
  }

#location-selector-div{
  height: auto;
  width:1100px;
  overflow-y:auto;
}

/* line-graph stuff */
.line_hovered {
  stroke-width: 4px;
}

/* Map stuff */
#map-svg{
  background:#ffffff;
}

.neighbors {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.5;
}

.mapHovered{
  stroke: white;
  stroke-dasharray: 5px;
  stroke-width: 8px;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: auto;							
  padding: 15px;				
  font: 28px sans-serif;		
  background: #000000ba;	
  color: #ffffff;
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

/* Map stuff */

/* Stack Bar Chart */


body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
 }
 #main {
  width: 730px;
 } 

/* Stack Bar Chart */


/* nav bar */

/*logo stuff*/
#logo {
  height:60px;
  padding-bottom: 5px;
}

.navbar-brand {
height: 60px;
padding: 5px 0px;
}


.main-container {
  margin-left: 100px;
  margin-right: 100px;
 }
 
 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
 }
 
 /* Style the buttons that are used to open the tab content */
 .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  height: 60.984375px;
  width: 71.96875px
 }
 
 /* Change background color of buttons on hover */
 .tab button:hover {
  background-color: #ddd;
 }
 
 /* Create an active/current tablink class */
 .tab button.active {
  background-color: #ccc;
 }
 
 /* Style the tab content */
 .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 }
 
 .tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
 }
 
 /* Go from zero to full opacity */
 @keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
 }
 
 

/* nav bar */

